@inherits LayoutComponentBase

<section id="about" class="section about-section">
    <div class="container">
        <div class="row align-items-center">

            <div class="col-md-6 profile-image text-center">
                <img src="images/guitarheadshot.png" alt="Brendan Guitar photo" class="img-fluid" />
            </div>
            
            <div class="col-md-6 intro-text">
                <h2>About Me</h2>
                <p>
                    With a strong foundation in Ruby on Rails and a knack for rapid learning, I thrive on tackling complex challenges and delivering solutions that drive business success. From owning Dahlia Music Inc., where I built lasting relationships with clients and collaborators, to swiftly mastering new programming languages like Go and C#, I've consistently demonstrated adaptability and a commitment to excellence.
                </p>
                <p>
                    My work includes optimizing application performance, enhancing security measures, and ensuring seamless user experiences through modern frontend development.
                </p>
                <p>
                    I believe in the power of technology to solve real-world problems and am dedicated to continuous improvement—both in my work and in the processes that support it. With a keen interest in emerging technologies like blockchain and AI, I'm eager to contribute to projects that challenge the status quo and make a positive impact.
                </p>
            </div>

            <!-- Profile Image -->

        </div>
    </div>
</section>
