<section id="about" class="section about-section">
    <div class="container">
        <div class="row align-items-center">
            <!-- Profile Image -->
            <div class="col-md-6 profile-image text-center">
                <img src="images/guitarheadshot.png" alt="Brendan Guitar photo" class="img-fluid rounded-circle shadow-lg" style="max-width: 300px;" />
            </div>

            <!-- Intro Text -->
            <div class="col-md-6 intro-text">
                <h2>About Me</h2>
                <p>
                    When I first started learning to code, I was surprised at discovering how many of my musician colleagues had transitioned into tech. But, as I learned more, this seemingly unlikely career transition started to make sense. The skills we developed preparing for a concert translated easily into writing code. Pattern recognition, abstract thinking, creative problem solving—all of those skills apply to both music and coding.
                </p>
                <p>
                    Even the beginning of these two different phases of my career started in much the same way. My earliest gigs took place in dark, smoky (you could still smoke inside then) bars, playing the blues and learning on stage. Similarly, my first experiences with development involved making websites to market myself, my teaching, or any groups I was playing in. Everything I learned was picked up from various sources on the internet, and everything I built was available to the public as soon as it was done.
                </p>
                <p>
                    I had another “Aha” moment more recently. It took one “Try Turing Coding Workshop” to convince me that it was time to go all in on a coding career. I applied to and enrolled in the Back End program at the Turing School of Software and Design shortly thereafter. Turing was a lot of work, but a fantastic experience. Going from knowing nothing about Ruby on Rails to being able to build a fully functioning application in that short of time was incredible. More importantly, I learned that the tools we use aren’t nearly as important as how we use them.
                </p>
                <p>
                    After college, I spent time in Spain studying flamenco, and spent the last few years of my professional music career as a primarily jazz guitarist. This portfolio is a project built in C#/.NET, something I have had the opportunity to revisit after a bit of a hiatus I needed to learn my way around Go. I still actively seek out new musical challenges in my spare time, but now, I spend my days keeping up with the ever-evolving tech world. It is second nature to apply my creativity in both fields, and I am thrilled to continue applying that to the new challenges I find in the tech world.
                </p>
            </div>
        </div>
    </div>
</section>
