@inherits LayoutComponentBase

<section id="about" class="section about-section">
    <div class="container">
        <div class="row align-items-center">
            <!-- Intro Text -->
            <div class="col-md-6 intro-text">
                Professional musician turned tech blah blah blah
            </div>

            <!-- Profile Image -->
            <div class="col-md-6 profile-image text-center">
                <img src="images/guitarheadshot.png" alt="Brendan Guitar photo" />
            </div>
        </div>
    </div>
</section>
