@inherits MyPortfolio.Shared.NavBarBase

    <nav class="navbar">
        <a href="#" class="name">Brendan Bondurant</a>
        <div class="nav-links">
            <a href="#about">About me</a>
            <a href="#work">Work</a>
            <a href="#writing">Writing</a>
            <a href="#contact">Contact</a>
            <button @onclick="ToggleDarkMode">
              @(IsDarkMode ? "Light Mode" : "Dark Mode")
            </button>
        </div>
    </nav>