<section id="work" class="section work-section">
    <h2>Experience</h2>
    <div class="accordion" id="workAccordion">
        <!-- Bonsai.Bid Project -->
        <BonsaiBid />

        <!-- PhilosDBL Project -->
        <PhilosDBL />

        <!-- BlockFrame, Inc Project -->
        <BlockFrame />

        <!-- Metronome Project -->
        <Metronome />

        <!-- Portfolio Project -->
        <Portfolio />
    </div>
</section>