@page "/writing"
@inject MyPortfolio.Services.WordPressService WordPressService
@using MyPortfolio.Models

<section id="writing">
    <h2>Writing</h2>
    <p>Here are my latest blog posts:</p>

    @if (posts == null)
    {
        <p>Loading...</p>
    }
    else if (!posts.Any())
    {
        <p>No posts available.</p>
    }
    else
    {
        <ul>
            @foreach (var post in posts)
            {
                <li>
                    <!-- Button to trigger modal with Bootstrap attributes -->
                    <button class="btn btn-link" @onclick="() => ShowPost(post)" data-bs-toggle="modal" data-bs-target="#postModal">
                        @post.Title
                    </button>
                </li>
            }
        </ul>
    }
</section>

<!-- Test with a sample post to ensure the modal content is available -->
<BlogPosts SelectedPost='selectedPost ?? new Post { Title = "Sample Post", Content = "Sample content here.", Date = "Today" }' />
