@page "/"

<div class="section-container">
    <Greeting />
</div>

<div id="about" class="section-container">
    <About />
</div>

<div id="work" class="section-container">
    <Work />
</div>

<div id="writing" class="section-container">
    <Writing />
</div>

<div id="contact" class="section-container">
    <Contact />
</div>
