@page "/"

<div class="navbar">
    <!-- Navbar -->
    <NavBar />
</div>

<div class="section-container py-5">
    <!-- Greeting Section -->
    <Greeting />
</div>

<div id="about" class="section-container py-5">
    <About />
</div>

<div id="work" class="section-container py-5">
    <Work />
</div>

<div id="writing" class="section-container py-5">
    <Writing />
</div>

<div id="contact" class="section-container py-5">
    <Contact />
</div>
