@page "/"

<div class="top-section">
    <!-- Navbar -->
    <NavBar />

    <!-- Intro Section -->
    <div class="intro-section">
        <div class="intro-text">
            <h1>Hi, I'm Brendan.</h1>
            <ul class="roles">
                <li>Software Developer</li>
                <li>Cybersecurity Engineer</li>
                <li>Writer</li>
                <li>Musician</li>
                <li>Teacher</li>
                <li>Full Stack Developer</li>
                <li>Back End Engineer</li>
                <li>Ruby on Rails Developer</li>
            </ul>
        </div>

        <!-- Profile Image -->
        <div class="profile-image">
            <img src="images/personalHeadshot.jpg" alt="Brendan's photo" />
        </div>
    </div>
</div>

<section id="about">
    <!-- About me content -->
    About me and stuff
</section>

<section id="work">
    <!-- Work content -->
    Things I do
</section>

<section id="writing">
    <!-- Writing content -->
    Stuff to write
</section>

<section id="contact">
    <!-- Contact content -->
    Hit me up
</section>


